.header-container {
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: rgb(48, 45, 53);
}

.nav {
    height: 40px;
    line-height: 40px;
    margin-left: 1rem;
    vertical-align: middle;
}

.link {
    color: whitesmoke;
    text-decoration: none;
    text-emphasis: bold;
    font-size: large;
}