.outer-container {
    position: absolute;
    display: flex;
    background-color: rgb(97, 92, 107);
    top: 40px;
    bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 85%;
    width: 85%;
    background-color: rgb(48, 45, 53);
    border-radius: 1rem;
    padding: 1rem;
}

.Collapsible {
    width: 100%;
    font-size: x-large;
    color: rgb(216, 216, 216);
    margin-top: 2rem;
    padding: 0.4rem 0rem;
    border-radius: 0.3rem;
    background-color: rgb(28, 26, 31);
}

.Collapsible__trigger {
    display: block;
    position: relative;
    padding: 0 1rem;
}

.Collapsible__contentOuter {
    background-color: rgb(97, 92, 107);
    width: auto;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.Collapsible__contentInner {
    font-size: large;
}

.checkbox-option {
    width: auto;
    white-space: nowrap;
    margin: 1rem;
}

.checkbox-text {
    padding: 0.5rem;
}

.start {
    display: flexbox;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
}

.start-button {
    border-radius: 0.5rem;
    width: 90%;
}

.footer-container {
    height: 20px;
    width: 100%;
    background-color: rgb(48, 45, 53);
    position: absolute;
    bottom: 0;
}